#pragma once
#include <stdint.h>
#include <esp_bt_defs.h>

/*
The public key is only for beaconing location reports, which can be decrypted by a private key.
It is not used for beaconing data.

To generate the public key and its private key:
1. Run: provision/genkey.py
2. Open output/something.keys, copy down the advertisement key.
3. Run: echo -n "advertisement key" | base64 -d | hexdump -C
Then copy down the 28 bytes of hexdump output below:
*/

const uint8_t custom_public_key[28] = {
    0x12, 0x12, 0x12, 0x12, 0x12, 0x12, 0x12, 0x12,
    0x12, 0x12, 0x12, 0x12, 0x12, 0x12, 0x12, 0x12,
    0x12, 0x12, 0x12, 0x12, 0x12, 0x12, 0x12, 0x12,
};

// The parameters below are exclusively used for beaconing data and are unrelated to location reports.

// Come up with 4 random bytes of your own.
const uint32_t custom_modem_id = 0x12345678;

// Come up with 2 random bytes of your own.
const uint32_t custom_pubkey_magic1 = 0x11;
const uint32_t custom_pubkey_magic2 = 0x22;