#ifndef PUBKEY_H_
#define PUBKEY_H_

#include <stdint.h>

/*
Run genkey.py, open output/*.keys, copy down the advertisement key and run:
echo -n "advertisement key" | base64 -d | hexdump -C
And copy down the 28 bytes of output below.
*/

static uint8_t public_key[28] = {
    0x12, 0x12, 0x12, 0x12, 0x12, 0x12, 0x12, 0x12,
    0x12, 0x12, 0x12, 0x12, 0x12, 0x12, 0x12, 0x12,
    0x12, 0x12, 0x12, 0x12, 0x12, 0x12, 0x12, 0x12,
};

// Come up with a a random modem ID of your own.
static const uint32_t modem_id = 0x12345678;

// Come up with two random bytes of your own.
static const uint32_t pubkey_magic1 = 0x11;
static const uint32_t pubkey_magic2 = 0x22;

// Come up with 6 bytes of your own.
static esp_bd_addr_t rnd_addr = {0x01, 0x02, 0x03, 0x04, 0x05, 0x06};

#endif // PUBKEY_H_
